.btn-auth {
    color: rgb(39, 38, 38);
    background-color: aquamarine;
    padding: 8px 32px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
}

.btn-auth:hover {
    background-color: rgb(39, 38, 38);
    color: aquamarine;
}